/* .App {
  text-align: center;
} */

.Logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
  text-align: center;
}

.Menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.Menu li{
  display: inline-block;
  padding-right: 10px;
}
/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
